:root{
    --deepBlue: #1a2a54;
    --white: white;
}

header {
    min-height: 20vh;
    background-image: url('https://cdn.pixabay.com/photo/2016/05/12/23/10/banner-1388939_1280.jpg');
}

header h3:hover {
    cursor: pointer;
}

header h1, 
header h3 {
    height: min-content;
    font-weight: bolder;
}

main, footer{
    background-color: var(--deepBlue);
    color: var(--white);
}

main {
    min-height: 60vh;
}

footer {
    min-height: 20vh;
}

.logo {
    margin: 0 15px 0 15px;
    height: 50px;
    width: 100px;
    filter: grayscale(1);
}

.logo:hover {
    cursor: pointer;
    filter: grayscale(0);
}

#ghLogo:hover {
    filter: invert(1000%) brightness(100%) contrast(1000%);
}